.lineSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 2px gray;
  border-radius: 0.5rem;
  height: calc((100vh - 88px) / 2);
  padding: 1rem;
}

.lineChartContent {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lineChart {
  height: 100%;
  aspect-ratio: 1.6;
}

.tooltip {
  background-color: #1f2937;
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 1px gray;
  font-size: small;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.tooltip p {
  font-weight: 900;
}

.tooltipItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.tooltipLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.tooltipCircle {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
}

.tooltipValue {
  font-weight: 700;
}

.tooltipDivision {
  border-top: solid 1px gray;
  margin-top: 0.25rem;
  padding-top: 0.25rem;
}

.tooltipBalance {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tooltipBalanceText {
  color: #a8a8a8;
  font-weight: 700;
}

.green {
  color: #10b981;
  font-weight: 700;
}

.red {
  color: #ef4444;
  font-weight: 700;
}
