.form {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  padding: 0.5rem 0;
  gap: 1rem;
}

.inputContainer {
  width: 80%;
}

.label {
  color: var(--primary-color);
  font-weight: bold;
  font-size: small;
}
