.sign {
  font-weight: bold;
  color: var(--primary-color);
}

.form {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem 1rem;
  gap: 1rem;
  border: solid 2px gray;
}

.inputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-right: 1rem;
  max-width: 300px;
}

.inputContainer:nth-child(1) {
  width: 40%;
  border-right: solid 2px gray;
}

.inputContainer:nth-child(2) {
  width: 30%;
  border-right: solid 2px gray;
}

.flex-h {
  display: flex;
  align-items: center;
  width: 100%;
}

.label {
  color: var(--primary-color);
  font-weight: bold;
  font-size: small;
}

.select {
  font-family: NunitoItalic;
}

@media (width <= 600px) {
  .inputContainer:nth-child(1) {
    width: 40%;
  }
  .inputContainer:nth-child(2) {
    width: 35%;
  }
}

@media (width <= 360px) {
  .form {
    gap: 0.5rem;
  }
  .select {
    font-size: small;
  }
}
