.section {
  min-height: calc(100vh - 40px);
}

.left {
  height: 100%;
  height: 300px;
  background-color: darkolivegreen;
}

@media (width >= 600px) {
  .section {
    padding: 1rem;
  }
}

@media (width >= 1000px) {
  .section {
    display: grid;
    /* grid-template-columns: repeat(2, minmax(400px, 1fr)); */
    grid-template-columns: 33% 1fr;
    gap: 1rem;
  }
}
