.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 72px);
  max-height: calc(100vh - 72px);
  /* max-width: 34rem; */
}

.listContainer {
  max-height: calc(100vh - 180px);
  overflow-y: auto;
}

.flexHC {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.flexHL {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-bottom: solid thin gray;
  transition: all 0.3s;
  overflow-x: auto;
  scrollbar-width: thin;
}

.flexHL:hover {
  border-bottom: solid thin var(--primary-color);
}

.ul {
  list-style: none;
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  width: 2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
