.container {
  min-height: calc(100vh - 72px);
  max-height: calc(100vh - 72px);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 0.95rem;
  width: 100%;
}

.noResults {
  text-align: left;
  font-weight: bold;
  font-size: medium;
}

.tableContainer {
  min-height: calc(100vh - 222px);
  max-height: calc(100vh - 222px);
  overflow-y: auto;
}

.table {
  border: solid gray;
  border-width: thin;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.tHead {
  padding: 0.5rem;
  border: solid gray;
  border-width: thin;
  color: var(--primary-color);
  position: sticky;
  top: 0;
  background-color: #181818;
  font-family: NunitoItalic;
  font-size: 1.1rem;
}

.tData {
  padding: 0.2rem 0.8rem;
  border: solid thin gray;
  text-align: left;
  overflow-x: auto;
  max-width: calc((50vw - 3.5rem) * 0.55);
  white-space: nowrap;
  height: 2rem;
}

.deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.2rem;
  width: 1.2rem;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flexSE {
  display: flex;
  justify-content: space-evenly;
}

.select {
  padding: 0;
  transition: none;
}

.flexH {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.select:focus {
  font-family: Nunito;
  font-size: 0.95rem;
}

/* .inputNumber::-webkit-inner-spin-button,
.inputNumber::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
} */

.inputNumber {
  width: 90%;
  padding: 0 4px;
  appearance: textfield; /* Firefox */
  border-bottom: solid thin gray;
  outline: none;
  transition: none;
}

.inputNumber:focus {
  font-size: 0.95rem;
  line-height: 1rem;
}

.sign {
  font-weight: bold;
  color: var(--primary-color);
}

@media (width <= 600px) {
  .container {
    padding: 0.5rem;
    min-height: 50vh;
    max-height: calc(95vh - 190px);
  }
  .tData {
    padding: 0.2rem 0.1rem;
    max-width: 120px;
  }
}

@media (width <= 360px) {
  .container {
    padding: 0.2rem;
  }
  .tData {
    padding: 0.1rem 0.05rem;
    max-width: 100px;
  }
  .deleteButton {
    height: 2rem;
    width: 1.5rem;
  }
}
