.header{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: .5rem 2rem;
    margin: 0 auto;
    background-color: var(--primary-color);
    border-radius: 0 0 .5rem .5rem;
    text-align: start;
    line-height: 1.5rem;
    height: 2.5rem;
}

.link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.title{
    font-family: CarterOne, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}