.container {
  min-height: calc(50vh - 1.5rem - 20px);
  max-height: calc(50vh - 1.5rem - 20px);
}

.noResults {
  text-align: left;
  font-weight: bold;
  font-size: medium;
  margin-bottom: 1rem;
}

.flexHC {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
