:root {
  font-family: Nunito, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */
  background-color: #171717;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* --primary-color: #90c853;  */
  --primary-color: #2da3e8;
  --background: #171717;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
  scrollbar-color: var(--primary-color) transparent;
}

body {
  min-width: 305px;
}

h1 {
  font-size: 1.3rem;
}

h2 {
  font-family: NunitoItalic;
  font-size: 1.2rem;
  color: var(--primary-color);
  font-weight: 900;
}

input {
  font-family: Nunito;
  width: 100%;
  padding: 5px 8px;
  appearance: textfield; /* Firefox */
  font-size: medium;
  border: none;
  background-color: transparent;
  border-bottom: solid thin gray;
  outline: none;
  transition: all 0.3s ease;
}

input:focus {
  border: none;
  border-bottom: 1px solid var(--primary-color); /* cambia el borde */
  box-shadow: 0 4px 4px -4px rgb(45, 163, 232, 0.3);
}

select {
  width: 100%;
  padding: 4px 0;
  background-color: #181818;
  font-family: Nunito;
  font-size: 1rem;
  outline: none;
  border: none;
  border: solid thin transparent;
  transition: all 0.3s ease;
}

select:focus {
  border-bottom: solid thin var(--primary-color);
  box-shadow: 0 4px 4px -4px rgb(45, 163, 232, 0.3);
}

option {
  font-family: Nunito, system-ui;
}

label {
  font-family: NunitoItalic;
}

.sections {
  border: solid 2px gray;
  border-radius: 0.5rem;
  padding: 1rem;
}

@font-face {
  font-family: 'CarterOne';
  src: url('/fonts/CarterOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  src: url('/fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'NunitoItalic';
  src: url('/fonts/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 200 900;
  font-style: normal;
  font-display: swap;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
